.alert {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);

  @media (max-width: 1080px) {
    width: auto;
    margin-left: var(--mantine-spacing-xl);
    margin-right: var(--mantine-spacing-xl);
  }
}

.mainContent {
  height: min-content;
  padding: var(--mantine-spacing-xl);
  margin-top: var(--mantine-spacing-xl);
  margin-bottom: var(--mantine-spacing-md);
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  background-color: #1a1a1a80;
  border: 1px solid #333;
  border-radius: 15px;
  color: white;

  @media (max-width: 1080px) {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    border-radius: 0;
    border: none;
    background-color: transparent;
  }
}

.info {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--mantine-spacing-xl);
  margin-bottom: var(--mantine-spacing-xl);
}
