.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;

  @media screen and (max-width: 1600px) {
    scale: 0.85;
  }
  @media screen and (max-width: 1366px) {
    scale: 0.7;
  }
  @media screen and (max-width: 768px) {
    justify-content: flex-start;
    scale: 1;
  }
}
