.avatar {
  height: 70%;
  width: 273px;
  border-radius: 50%;
  -webkit-mask-image: url('/images/avatar_overlay.svg');
  -moz-mask-image: url('/images/avatar_overlay.svg');
  -webkit-mask-size: cover;
  -moz-mask-size: cover;
}
