.largeCard {
  width: 807px;
  height: min-content;
  position: absolute;
  align-items: center;
  transform-origin: top left;
}

.statusImage {
  width: 75px;
  height: 75px;
  transform: translate(202px, -72px);
  background: transparent;
}

.friendRequest {
  padding: 8px 18px 8px 18px;
  color: white;
  font-size: 20px;
  font-weight: 400;
  border-radius: 5px;
  font-family: 'Noto Sans TC', sans-serif;
}

.addMessageGroup {
  position: absolute;
  transform: translate(579px, 30px);
}

.name {
  margin-top: 140px;
  padding-bottom: 30px;
  transform: translateX(30px);
}

.aboutMeBox {
  transform: translateX(30px);
  border-radius: 15px;
  z-index: 0;
  width: 747px;
  padding: 30px;
  margin-bottom: 30px;
  height: max-content;
}

.aboutMe {
  margin-top: var(--mantine-spacing-sm);
  font-size: 22px;
  max-width: 700px;
  word-wrap: break-word;
  white-space: pre-line;
  font-family: 'Noto Sans TC', sans-serif;
}

.discordLabel {
  height: 60px;
  width: 225.86px;
  transform: translateX(581.13px);
}
