.footer {
  margin-top: calc(var(--mantine-spacing-xl) * 2);
  background-color: #1a1a1a;
  border-top: 1px solid #333;
  border-bottom: none;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--mantine-spacing-xl);
  padding-bottom: var(--mantine-spacing-xl);
  padding-left: var(--mantine-spacing-lg);
  padding-right: var(--mantine-spacing-lg);

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
  }
}

.links {
  @media (max-width: $mantine-breakpoint-sm) {
    margin-top: var(--mantine-spacing-lg);
    margin-bottom: var(--mantine-spacing-sm);
  }
}
